// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* commnets#new------------------------------------------ */
.comments-new-wrapper {
  width: 100vw;
  height: 100vh;
  background-image: url("images/brown.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  .comments-new-container {
    padding-top: 120px;

    .comments-new-title {
      color: white;
      margin-bottom: 30px;
      text-align: center;
    }

    .form-text {
      color: white;
    }

    .form-control {
      height: 200px;
      margin-bottom: 30px;
    }

    .btn-block{
      margin-top: 50px;
      height: 40px;
    }
  }
}
