// Place all the styles related to the topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* topics#new------------------------------------------ */
.topics-new-wrapper {
  width: 100vw;
  height: 100vh;
  background-image: url("images/brown.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  .topics-new-container {
    padding-top: 120px;

    .topics-new-title {
      color: white;
      margin-bottom: 30px;
      text-align: center;
    }

    .form-text {
      color: white;
    }

    .form-image {
      margin-bottom: 30px;
    }

    .form-control {
      height: 40px;
      margin-bottom: 30px;
    }

    .btn-block{
      margin-top: 50px;
      height: 40px;
    }
  }
}

/* topicss#index------------------------------------------ */
.topics-index-wrapper {
  width: 100vw;
  min-height: 100vh;
  background-image: url("images/brown.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  .topics-index-container {
    padding-top: 120px;

    .topics-index-title {
      color: white;
      text-align: center;
    }

    .topics-index-image {
      text-align: center;
      width: 100%;
      margin-top: 50px;
    }

    .topics-index-name {
      font-size: 20px;
      margin-top: 10px;
      margin-bottom: 10px;
      a {
        color: white;
      }
    }

    .topics-index-description {
      font-size: 20px;
      margin-bottom: 10px;
      a {
        color: white;
      }
    }

    .topics-index-icon-comment {
      width: 8%;
      margin-bottom: 20px;
      margin-left: 20px;
    }

    .topics-index-icon-heart {
      font-size: 40px;
    }

    .like-btn {
      color: red;
    }

    .unlike-btn {
      color: black;
    }

    .topics-index-comments {
      font-size: 15px;
      a {
        color: white;
      }
    }
  }
}

/* topics#show------------------------------------------ */
.topics-show-wrapper {
  width: 100vw;
  min-height: 100vh;
  background-image: url("images/brown.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  .topics-show-container {
    padding-top: 120px;
    text-align: center;
    color: white;

    .topics-show-title {
      margin-bottom: 40px;
    }

    .topics-show-image {
      width: 100%;
    }

    .topics-show-name {
      font-size: 25px;
      margin-bottom: 20px;
      text-align: left;
      a {
        color: white;
      }
    }

    .topics-show-description {
      font-size: 25px;
      margin-bottom: 30px;
      text-align: left;
    }

    .topics-show-button {
      text-align: right;
      a {
        color: white;
        font-size: 20px;
      }
      span {
        margin-left: 20px;
      }
    }
  }
}

/* topics#edit------------------------------------------ */
.topics-edit-wrapper {
  width: 100vw;
  height: 100vh;
  background-image: url("images/brown.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  .topics-edit-container {
    padding-top: 120px;

    .topics-edit-title {
      color: white;
      margin-bottom: 30px;
      text-align: center;
    }

    .form-text {
      color: white;
    }

    .form-image {
      margin-bottom: 30px;
    }

    .form-control {
      height: 40px;
      margin-bottom: 30px;
    }

    .btn-block{
      margin-top: 50px;
      height: 40px;
    }
  }
}
